<% @prototype.comments.each do |comment| %>
  <div class="media">
    <div class="media-left">
      <%= link_to (image_tag comment.avatar_thumbnail, alt: "64x64", src: "@prototype.user.avatar", style: "width: 64px; height: 64px;", data: {src: "holder.js/64x64", holder: {rendered: "true"}}, class: "media-object"), user_path(comment.user) %>
    </div>
    <div class="media-body">
      <h4 id="top-aligned-media" class="media-heading"><%= comment.user.name %></h4>
      <p><%= comment.text %></p>
    </div>
  </div>
<% end %>
