= render "layouts/top"

-# #masonry-container.container.proto-list
#masonry-container.container.proto-list
  .row
    = render partial: 'prototypes/prototype', collection: @prototypes
.text-center
  = paginate @prototypes
