.navbar.navbar-default.navbar-static-top.navbar-fixed-top
  .container
    %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: ".navbar-responsive-collapse"}}
    = link_to (image_tag "logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "36px"), root_path, class: "navbar-brand"
    .navbar-collapse.collapse.navbar-responsive-collapse
      - if user_signed_in?
        //login
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{aria: {expanded: false}, data: {toggle: "dropdown"}, href: "#", role: "button"}
              = current_user.name
              %span.caret
            %ul.dropdown-menu{role: "menu"}
              %li
                %a{href: "#"} Profile Edit
              %li
                %a{href: "#"} Logout
          %li
            .btn.btn-primary.navbar-btn
              %a{href: "/proto/new"}
                New Proto
      - else
        //not login
        %ul.nav.navbar-nav.navbar-right
          %li
            .btn.btn-primary.navbar-btn
              = link_to "Get Started", new_user_session_path

